body {
    background-image: url('/img/3175994.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 300px;
}

.titlesinputs {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

input {
    border: none;
}
input, button {
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available;
    border-radius: 4px;  
    box-sizing: border-box;
    border: 2px solid #084026c8;
    font-size: 16px;
    background-color: #ffffff;
    color: #333;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
}

button[disabled] {
    opacity: 0.8;
}

.clear {
    background: transparent;
    border: none;
    color: white;
}
.solid {
    background: white;
    border: none;
    color: rgb(24, 86, 49);
}
.outline {
    background: transparent;
    color: white;
    border: 1px solid white;
}

.error {
    color: red;
    display: none;
}

.style-login {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.style-login:before {
    content: "";
    background: linear-gradient(
        45deg,
        #00ff88c8,
        #338596,
        #00ff88c8,
        #338596,
        #00ff88c8,
        #338596,
        #00ff88c8,
        #338596,
        #00ff88c8
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingstyle-login 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

    @keyframes glowingstyle-login {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}

.style-login:active {
    color: #000;
}

.style-login:active:after {
    background: transparent;
}

.style-login:hover:before {
    opacity: 1;
}

.style-login:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.loading {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #51d4db;
    height: 70px;
    width: 70px;
}

    @keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.button-voltar {
    display: flex;
    margin-top: 30px;
}

.tituloRegistro {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    color: rgb(255, 255, 255);
}